.cont {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
}

.size {
  width: 60px;
  height: 60px;
}

.tiempo {
  text-align: center;
}
.datos {
  text-align: center;
}
